<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095079858429-rc786o6c5v3p8h2uoaof35mvet7hm9ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095079858429-rc786o6c5v3p8h2uoaof35mvet7hm9ch</string>
	<key>API_KEY</key>
	<string>AIzaSyCUGyy5H6DOnQNVRU4pJsodsSzVANum4u8</string>
	<key>GCM_SENDER_ID</key>
	<string>1095079858429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tokyomemory.mapapp0918</string>
	<key>PROJECT_ID</key>
	<string>tokyo-memory</string>
	<key>STORAGE_BUCKET</key>
	<string>tokyo-memory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095079858429:ios:779b6ca4f66ac4337bae94</string>
</dict>
</plist>